Markdown==3.4  # https://github.com/ryanfox/sphinx-markdown-tables/issues/36
sphinx_rtd_theme
sphinx_paramlinks
myst-parser
tqdm
git+https://github.com/NSAPH-Data-Platform/nsaph-utils.git#egg=nsaph-utils
# git+https://github.com/NSAPH-Data-Platform/nsaph-core-platform.git#egg=nsaph
